//componente: areas
section.areas {
  background-color: $white;
  padding: 0 0 5rem 0;

  @include breakpoint($desktop) {
    @include big-container;
  }

  .title-eqs-areas {
    color: $marine-blue;
    font-size: 4.35rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: normal;
    margin: 0;
    margin-bottom: 3.5rem;
    max-width: 38rem;

    @include breakpoint($mobile) {
      margin-bottom: 1.5rem;
      margin-top: 2rem;
      font-size: 2.5rem;
    }
  }

  .card-consultant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

    .card-repeat {
      margin: 0 0 2rem 0;

      @include breakpoint($mobile) {
        margin: 2rem 0 1rem 0;
      }

      @include breakpoint($tablet) {
        margin: 3rem 0 0 0;
      }

      &:nth-child(4n+1) .card-bkg {
        background-color: $azure;
        color: $white;
      }

      &:nth-child(4n+2) .card-bkg {
        background-color: $dark-sky-blue;
        color: $white;
      }

      &:nth-child(4n+3) .card-bkg {
        background-color: $mid-blue;
        color: $white;
      }

      &:nth-child(4n+4) .card-bkg {
        background-color: $marine-blue;
        color: $white;
      }
    }

    .card-consultant__setting {
      border-radius: 0;
      border: 0;
      height: 100%;

      @include breakpoint($mobile) {
        .img-fluid {
          width: 100%;
        }
      }

      .btn.btn-pink {
        bottom: -1.75rem;
        left: calc(50% - 7.7rem);
        position: absolute;

        img {
          margin-top: -0.3rem;
          margin-left: 1rem;
        }
      }
    }

    .card-title_consultant {
      color: $white;
      font-size: 2rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: -0.5px;
      line-height: normal;
      padding: 0 0 2rem 0;
    }

    .card-subtitle_consultant {
      color: $white;
      font-size: 1.125rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.39;
      margin-bottom: 3rem;
      padding: 0;
    }

    .card-line {
      border-top: solid 1px $white;
      opacity: 0.7;
      padding: 1rem 0 1rem 0;
    }

    .card-description p {
      color: $white;
      font-size: 1.125rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.83;
      margin: 0;
      padding-bottom: 0.5rem;
    }
  }
}
