/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

//contato
.agente-uma-visita {
  z-index: 2;
  padding-bottom: 3.25rem;
  position: relative;

  p {
    font-size: 2rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: $marine-blue;
    font-weight: normal;
  }

  h2.title-agende,
  h3 {
    font-weight: 900;
  }

  h2.title-agende {
    font-size: 4.35rem;
    color: $marine-blue;
    padding: 10rem 0 0 0;
    position: relative;

    @include breakpoint($mobile) {
      padding: 6rem 0 0 0;
      font-size: 3rem;
    }

    @include breakpoint($tablet) {
      padding: 8rem 0 0 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 3rem;
      background-color: $marine-blue;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  form {
    input:not(.btn),
    textarea {
      font-size: 1.125rem;
      margin-bottom: 1rem;
      padding: 1.85rem 1.05rem;

      @include border-radius(1rem);

      @include input-placeholder {
        color: $grey;
      }
    }
  }

  .form-auv {
    padding: 10rem 0 3rem 0;

    @include breakpoint($mobile) {
      padding: 0 !important;
    }

    @include breakpoint($tablet) {
      padding: 0 !important;
    }
  }
}
