.hero {
  overflow: hidden;
  padding: 6.5rem 0;
  position: relative;

  .video-wrapper {
    video {
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &::before {
      background: rgba($marine-blue, 0.8);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .container {
    position: relative;
    margin-top: 3rem;

    .share-e-idioma {
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      .play-share {
        a {
          margin-right: 3rem;
          font-size: 1.25rem;
          color: #fff;

          img {
            margin-right: 0.5rem;
          }
        }
      }
    }

    .switcher-idioma {
      a {
        border: solid 0.06rem #fff;
        color: #fff;
        display: inline;
        font-size: 1.25rem;
        margin-left: 0.55rem;
        padding: 0 0.2rem 0.2rem 0.2rem;
        position: relative;

        &.pt-br::after,
        &.es::after {
          bottom: 0.18rem;
          content: "";
          height: 0.185rem;
          left: 0.2rem;
          position: absolute;
          width: 1.437rem;
        }

        &.pt-br::after {
          border-bottom: solid 0.185rem rgb(126, 211, 33);
        }

        &.es::after {
          border-bottom: solid 0.185rem rgb(248, 231, 28);
        }

        &:link {
          text-decoration: none;
        }
      }
    }

    h1 {
      @include title_with_underline($sick-green);

      font-size: 4.3rem;
      font-weight: 900;
      margin-bottom: 4.45rem;
      margin-top: 5rem;
      max-width: 39rem;

      @include breakpoint($mobile) {
        font-size: 2.5rem;
      }
    }

    .resumo {
      color: #fff;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.83;
      margin-bottom: 1.5rem;
      margin-left: 7.5rem;

      a {
        @include btn_saiba_mais($sick-green);
      }
    }

    .nossas-areas {
      margin-top: -5rem;

      @include breakpoint($mobile-e-tablet) {
        margin-top: 1rem;
      }

      span {
        color: #fff;
        font-size: 1.1rem;
        font-weight: 300;
      }

      h3 {
        color: $sick-green;
        font-size: 2rem;
        font-weight: 900;
        max-width: 15rem;
      }

      .itens-carousel {
        .item {
          height: 10rem;

          @include background-size(cover);

          a {
            color: #fff;

            &:link {
              text-decoration: none;
            }

            .overlay {
              // opacity: 0;
              align-items: center;
              background-color: rgba(153, 204, 51, 0.7);
              display: flex;
              height: 100%;
              justify-content: center;
              text-align: center;
              width: 100%;

              div {
                color: #fff;
                font-size: 1.3rem;
                max-width: 9rem;
              }
            }
          }
        }
      }
    }
  }
}
