footer {
  background-color: $white;

  .social {
    align-items: center;
    display: flex;
    justify-content: center;

    @include breakpoint($mobile) {
      flex-direction: column;
    }

    div {
      margin: 2rem 1rem;
      flex-direction: row;

      @include breakpoint($mobile) {
        margin: 0;
      }

      &,
      a,
      a:link, {
        color: $marine-blue;
        font-size: 1.3rem;
        margin: 2rem 1rem;

        @include breakpoint($mobile) {
          margin-bottom: 0;
        }
      }

      &:first-child {
        font-size: 1.6rem;
        margin-right: 1.5rem;

        @include breakpoint($mobile) {
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }
    }
  }

  .copyright {
    color: $warm-grey;
    font-family: "Proxima Nova", Georgia, sans-serif;
    padding: 1rem 0;
    text-align: center;
  }
}
