.admin-bar header {
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  transition: background-color 0.2s ease, length 0.2s ease;
  width: 100%;
  z-index: 1000;

  &.active {
    background-color: $marine-blue;
    box-shadow: 0 0.06rem 0.12rem 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 1rem;

    .navbar #menu-principal .navbar-nav .menu-item .dropdown-menu {
      background-color: rgba(1, 51, 102, 0.72);
    }
  }
}

@import "layouts/navbar";
