.navbar {
  margin-top: 0;
  padding-top: 2rem;
  z-index: 1000;

  @include breakpoint($mobile) {
    .brand img {
      max-width: 15.5rem;
    }
  }

  .navbar-toggler {
    border-color: $white;

    @include border-radius(0);

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,254,254, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  #menu-principal {
    font-size: 1rem;

    @include breakpoint($mobile-e-tablet) {
      margin-top: 1.5rem;
    }

    .dropdown {
      @include breakpoint($desktop) {
        // mostra o submenu ao passar o mouse
        & > .dropdown-toggle:active {
          pointer-events: none;
        }

        &:hover > .dropdown-menu {
          display: block;
        }
      }
    }

    // content principal
    .navbar-nav {
      // primeiro nivel de menu
      .menu-item {
        .nav-link {
          color: #fff;
          font-size: 1rem;
          margin-right: 2.5rem;
          padding: 0;
        }

        &:last-child .nav-link {
          margin-right: 0;
        }

        // segundo nível de menu
        & .dropdown-menu {
          @include border-radius(0);

          background-color: rgba(255, 255, 255, 0.2);
          border: 0;
          margin: 0;
          min-width: 0;
          padding: 0;
          text-align: center;

          @include breakpoint($mobile-e-tablet) {
            text-align: left;
          }

          & > .menu-item .dropdown-item {
            color: #6cf;
            font-size: 0.85rem;
            padding: 0.2rem 1.25rem;

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }
  }
}
