@import "components/hero";

body.template-institucional,
body.template-conteudos,
body.template-dicas-de-saude,
body.template-conteudos-adicionais {
  section.agente-uma-visita {
    .title-agende {
      padding-bottom: 6rem;
    }

    .form-auv {
      padding-top: 5rem;
      padding-bottom: 0;
    }
  }
}
