body.template-institucional {
  @include hero-overlay($marine-blue, $reddish-pink, $sick-green);

  .switcher-idioma a {
    z-index: 1;
  }

  %p {
    color: $greyish-brown;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.83;
    margin-bottom: 2.5rem;

    @include breakpoint($mobile) {
      margin-bottom: 1rem;
    }
  }

  section.o-melhor-da-vida {
    background-color: $white;
    padding: 5rem 0 0 0;

    h2 {
      color: $sky-blue;
      font-size: 4.35rem;
      font-weight: 900;
      margin-bottom: 3.5rem;

      @include breakpoint($mobile) {
        font-size: 2.5rem;
      }
    }

    p {
      @extend %p;
    }

    img.img-direita {
      margin-top: -36rem;
      z-index: 0;

      @include breakpoint($mobile) {
        margin: 0;
      }

      @include breakpoint($tablet) {
        margin: 0;
        display: none !important;
      }
    }
  }
  //
  section.o-que-faz {
    background-color: $white;
    padding: 0 0 5rem 0;

    @include breakpoint($mobile) {
      padding: 0;
    }

    @include breakpoint($tablet) {
      padding: 5rem 0 5rem 0;
    }

    .rectangle-omdv {
      background-color: $sick-green;
      height: auto;
      left: -19%;
      padding: 59px 63px 59px 63px;
      position: absolute;
      width: 392px;

      @include breakpoint($mobile) {
        left: 0;
        margin: 20% 0 10% 0;
        padding: 25px;
        width: 100%;
        position: relative;
      }

      @include breakpoint($tablet) {
        position: static;
        width: 100%;
      }
    }

    .img-right__omdv {
      margin: 5% 0 0 49.8%;
      position: relative;

      @include breakpoint($tablet) {
        display: none !important;
      }
    }

    .img-bottom__omdv {
      margin: -21.8% 0 0 -14.1%;
      position: relative;

      @include breakpoint($tablet) {
        display: none !important;
      }
    }

    .paragraph-moqfi {
      color: $marine-blue;
      font-size: 3rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: -0.7px;
      line-height: 1.19;
      margin: 0;

      @include breakpoint($mobile) {
        font-size: 2.5;
      }
    }

    .paragraph-ctad {
      margin-top: 3%;

      @include breakpoint($tablet) {
        margin-top: 3rem;
      }

      p {
        @extend %p;
      }
    }
  }

  .order-omdv {
    order: 2;

    @include breakpoint($tablet) {
      order: 1;
    }
  }

  .section-seer {
    background-color: $grey;
    padding-bottom: 8%;
    position: relative;
    width: 100%;

    .block-pink {
      background-color: $reddish-pink;
      height: 198px;
      left: -34.3%;
      margin: 28% 0 0 0;
      position: relative;
      width: 112px;

      @include breakpoint($mobile) {
        left: -24%;
      }

      @include breakpoint($tablet) {
        width: 30%;
      }
    }

    .block-title_pink {
      color: $reddish-pink;
      font-size: 4.35rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: -1px;
      line-height: 4.6rem;
      margin: -14rem 0 0 0;
      padding: 1rem;
      position: relative;

      @include breakpoint($mobile) {
        font-size: 2.5rem;
        padding: 1rem 0 0 3rem;
      }
    }

    .map-seer {
      margin: 13% 0 0 16%;
      position: absolute;

      @include breakpoint($mobile) {
        margin: 0;
      }

      @include breakpoint($tablet) {
        display: none !important;
      }
    }

    .info-seer {
      position: absolute;
    }

    .sede-icon-seer {
      margin: 36rem 0 0 21rem;
      position: relative;

      @include breakpoint($mobile) {
        margin: 4rem 0 0 1rem;
      }

      @include breakpoint($tablet) {
        margin: 23rem 0 0 3rem;
      }
    }

    .sede-instituto-vida {
      color: $marine-blue;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.44;

      div {
        color: $marine-blue;
        display: inline-block;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.44;
        margin-bottom: 4px;
      }
    }

    .sede-info-seer {
      display: flex;
      flex-flow: wrap;
      flex-direction: column;
      margin: 36rem 0 0 23rem;
      position: relative;

      @include breakpoint($mobile) {
        margin: 4rem 0 0 3rem;
        padding: 0;
      }

      @include breakpoint($tablet) {
        margin: 23rem 0 0 6rem;
      }
    }
  }
}
