body.template-certificacao {
  @include hero-overlay($marine-blue, $pale-blue, $dark-sky-blue);

  //Certificacao-ivca
  .slider-lateral {
    background-color: $white;

    p {
      color: $greyish-brown;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 1.83;
      margin-bottom: 1rem;
    }

    h3 {
      color: $reddish-pink;
      font-size: 2rem;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.5px;
      top: 2rem;
      position: absolute;
      left: 5rem;

      @include breakpoint($mobile) {
        font-size: 1.125rem;
      }

      &::before {
        content: "";
        height: 50px;
        width: 50px;
        background-color: $reddish-pink;
        display: flex;
        margin: 0 0 -3rem -4rem;

        @include breakpoint($mobile) {
          margin: 0 0 -2rem -4rem;
        }
      }
    }

    h4 {
      color: $reddish-pink;
      font-size: 3.3rem;
      font-weight: 900;

      @include breakpoint ($mobile) {
        font-size: 2.5rem;
      }
    }

    .p-slider-lateral {
      padding: 4rem 2.5rem 5rem 1rem;

      @include breakpoint($mobile) {
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
      }

      @include breakpoint($tablet) {
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
      }
    }

    .slider-margin {
      position: relative;
      margin-top: -1rem;
    }

    .slider-container-seta {
      display: flex;
      justify-content: space-around;
    }

    .seta-slider-left {
      align-items: flex-end;
      justify-content: flex-start;
      margin: 0 0 1rem -1rem;
      left: auto;

      @include breakpoint($mobile-e-tablet) {
        margin: 0 0 1rem -2rem;
      }
    }

    .seta-slider-right {
      align-items: flex-end;
      justify-content: flex-end;
      margin: 0 0 1rem 1rem;
      right: auto;

      @include breakpoint($mobile-e-tablet) {
        margin: 0 0 1rem 2rem;
      }

      @include breakpoint($tablet-e-desktop) {
        margin: 0 0 1rem 2rem;
      }
    }

    .slider-center-logo {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: 16rem;
    }

    .slide-block-reddish-pink {
      background-color: $reddish-pink;
      height: 50px;
      width: 50px;

      @include breakpoint($mobile) {
        height: 30px;
        width: 30px;
      }
    }

    .caption-slider-top {
      left: 1.875rem;
      padding-top: 4.4375rem;
      position: relative;
      text-align: center;

      @include breakpoint($mobile) {
        padding-top: 2rem;
      }
    }

    .subtitle-margin-slide {
      margin-top: -7.5rem;

      @include breakpoint($mobile-e-tablet) {
        margin: 2rem 0 0 0;
      }
    }

    .text-slider-down {
      padding: 0 2.5rem 2rem 1rem;

      @include breakpoint($mobile-e-tablet) {
        padding-right: 2.5rem;
      }
    }
  }

  .slide-empr-cert {
    align-items: center;
    background-color: $marine-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 720px;
    min-height: 550px;
    padding: 3.75rem;

    @include breakpoint($mobile-e-tablet) {
      min-height: 375px;
      padding: 1rem;
    }

    .carousel-item {
      text-align: center;
    }
  }

  //accordion
  .accordion {
    background-color: $white;
    border-bottom: 1px solid $dark-sky-blue;

    .accordion-setting {
      padding: 0 2.5rem 2rem 1rem;

      @include breakpoint($mobile-e-tablet) {
        padding-right: 1rem;
      }
    }

    .reset-card {
      border-radius: 0;
      border: none;
      padding-left: 0;
    }

    .reset-card-header {
      background-color: $white;
      border-bottom: 0;
      padding-left: 0;
    }

    .reset-card-body {
      padding: 0;
    }

    .title-accordion {
      color: $dark-sky-blue;
      font-size: 2rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 800;
      letter-spacing: normal;
      line-height: normal;
      padding-left: 0;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }

      @include breakpoint($mobile-e-tablet) {
        font-size: 1.5rem;
      }
    }

    p {
      color: $greyish-brown;
      font-size: 1.125rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.83;
    }

    .mb-0 > button {
      display: block;
      padding-right: 1.75rem;
      position: relative;
      text-align: left;
      width: 100%;
    }

    .mb-0 > button::after {
      content: "\f078"; /* fa-chevron-down */
      font-family: "Font Awesome 5 Free", Helvetica, Arial, Verdana, Tahoma, sans-serif;
      position: absolute;
      right: 0;
      top: 0.5rem;
    }

    .mb-0 > button[aria-expanded="true"]::after {
      content: "\f077"; /* fa-chevron-up */
    }
  }
}
