body.template-dicas-de-saude {
  @include hero-overlay($marine-blue, $marine-blue, $sky-blue);

  section.lista-de-posts {
    background-color: $white;
    padding: 4rem 0;

    .item {
      display: flex;
      margin-bottom: 2rem;

      @include breakpoint($mobile-e-tablet) {
        flex-direction: column;
      }

      .container-img {
        text-align: center;

        img {
          max-width: 20rem;
          height: auto;
        }

        @include breakpoint($mobile-e-tablet) {
          margin-bottom: 1rem;
        }

        @include breakpoint($mobile) {
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
        }
      }

      .container-text {
        border-bottom: 1px solid $grey;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        .title {
          color: $marine-blue;
          font-size: 2rem;
          font-weight: 900;
          margin-bottom: 1rem;
        }

        p {
          color: $greyish-brown;
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 1.56;
          margin-bottom: 1.5rem;
          flex-grow: 1;
        }

        a {
          color: $marine-blue;
          font-size: 1.1rem;
          margin-bottom: 1rem;
          padding: 0;

          img {
            margin-left: 0.75rem;
            margin-top: -0.2rem;
          }
        }
      }
    }

    .pagination {
      justify-content: center;

      .page-item {
        .page-link {
          color: $marine-blue;

          @include border-radius(0);
        }

        &.active .page-link {
          background-color: $marine-blue;
          border-color: $marine-blue;
          color: $white;
        }
      }
    }
  }
}
