body.template-rede-instituicoes {
  @include hero-overlay($marine-blue, $reddish-pink, $sick-green);

  // Instituicoes-rede
  .texto-bloco-imagem {
    background-color: $white;
    padding: 5rem 0 5rem 0;

    p {
      color: $greyish-brown;
      font-size: 1rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.83;
      margin: 0 0 2rem 0;
    }

    .bloco-bkg {
      background-color: $marine-blue;
      margin: 2rem 0 2rem 0;
      padding: 2rem;

      p {
        color: $white !important;
        font-size: 1rem;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 1.83;
      }
    }

    .img-tbi {
      padding: 5rem 0 5rem 0;
    }
  }

  .instituicoes-parceiras {
    background-color: $white;
    padding: 5rem 0 5rem 0;

    h2 {
      color: $marine-blue;
      display: flex;
      font-size: 3.5rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      justify-content: center;
      justify-items: center;
      line-height: normal;
      text-transform: uppercase;

      @include breakpoint($mobile-e-tablet) {
        font-size: 2.5rem;
      }

      &::after {
        content: "";
        width: 50%;
        height: 2rem;
        background-color: $marine-blue;
        position: absolute;
        top: -3rem;

        @include breakpoint($mobile) {
          width: 90%;
        }
      }
    }
    // Slider
    .slider-ip-bkg {
      display: flex;
      justify-content: center;
      margin: 5.3rem calc(-50vw + 50%) 5.3rem calc(-50vw + 50%);
      min-height: 620px;
      position: relative;
      flex-wrap: wrap;

      @include breakpoint($mobile) {
        min-height: 300px;
      }
    }

    .caption-slider {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 2rem;
      z-index: 10;

      p {
        color: $white;
        font-size: 1.5rem;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: -0.4px;
        line-height: 1.17;
        text-shadow: 0 2px 4px $black-shadow;

        @include breakpoint($mobile-e-tablet) {
          font-size: 1.125rem;
        }
      }
    }

    .slider-repeat {
      overflow: hidden;

      &:nth-child(3n+1) .slider-ip-bkg {
        background-color: $sick-green;
        color: $marine-blue;
      }

      &:nth-child(3n+2) .slider-ip-bkg {
        background-color: $sky-blue;
        color: $marine-blue;
      }

      &:nth-child(3n+3) .slider-ip-bkg {
        background-color: $marine-blue;
        color: $white;
      }
    }

    .slider-none-float {
      float: none;
    }

    .slider-left {
      @include breakpoint($mobile-e-tablet) {
        left: 0;
      }

      @include breakpoint($desktop) {
        left: 0;
      }

      @include breakpoint($desktop-ultrawide) {
        left: -8rem;
      }
    }

    .slider-right {
      @include breakpoint($mobile-e-tablet) {
        right: 0;
      }

      @include breakpoint($desktop) {
        right: 0;
      }

      @include breakpoint($desktop-ultrawide) {
        right: -8rem;
      }
    }

    .img-fluid-uni {
      padding-bottom: 2rem;
      position: relative;
      z-index: 5;

      @include breakpoint($mobile) {
        margin: 0;
        padding: 2rem;
      }

      @include breakpoint($tablet) {
        margin: 0 0 0 5rem;
        width: auto;
      }

      @include breakpoint($desktop) {
        margin: -7rem 0 0 0.3rem;
      }

      @include breakpoint($desktop-ultrawide) {
        margin: -10rem 0 0 48rem;
      }
    }

    .slider-unidades {
      @include breakpoint($desktop) {
        height: auto;
        margin: -4rem calc(50% - 29rem) auto calc(50% - 29rem);
        width: 100%;
      }

      @include breakpoint($mobile-e-tablet) {
        height: auto;
        margin-top: -1rem;
        width: 80%;
      }
    }

    .uni-text {
      font-size: 2rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: -0.5px;
      line-height: 1.13;
      margin: 1rem 0 0 calc(100% - 28.2rem);
      max-width: 40rem;
      position: relative;

      @include breakpoint($mobile) {
        margin: 1rem 0 0 7%;
      }

      @include breakpoint($tablet) {
        margin: 1rem 0 0 8%;
      }

      @include breakpoint($desktop-ultrawide) {
        margin: 1rem 0 0 calc(50% - 29rem);
      }
    }
  }

  .ri-slide-mt {
    justify-content: center;
    display: flex;
    margin: 2rem 0 2rem 0;
  }

  .reset-margin-right {
    margin-right: 0;
    justify-content: center;
    display: flex;
  }
}
