body.template-empresas-certificadas {
  @include hero-overlay($marine-blue, $pale-blue, $dark-sky-blue);

  // Empresas certificadas
  .card-logos {
    background-color: $white;

    @include breakpoint($desktop) {
      @include big-container;
    }

    .card-logo-margin {
      margin: -2rem 0 3rem 0;
    }

    h3 {
      color: $white;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: -0.5px;
      max-width: 19rem;
    }

    p {
      border-bottom: solid 1px $greyish-brown;
      color: $white;
      font-size: 1.125rem;
      font-weight: 300;
      letter-spacing: -0.4px;
      line-height: 1.33;
      margin-top: 1rem;
      opacity: 0.7;
      padding: 1rem 0 1rem 0;
    }

    .card-logo_setting {
      border-radius: 0;
      border: 0;
      height: 100%;

      @include breakpoint($mobile) {
        .img-fluid {
          width: 100%;
        }
      }
    }

    .col-reset {
      &:nth-child(2n+1) {
        padding: 0 0 1rem 0;
      }

      &:nth-child(2n+2) {
        padding: 0 0 1rem 1rem;

        @include breakpoint($mobile) {
          padding: 0 0 1rem 0;
        }

        @include breakpoint($tablet) {
          padding: 0 0 1rem 0;
        }
      }
    }

    .card-display {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
