body.template-consultores {
  @include hero-overlay($sky-blue, $sick-green, $marine-blue);

  // Consultores: Card com botão
  .card-com-botao {
    background-color: $white;

    @include breakpoint($desktop) {
      @include big-container;
    }

    .img-ccb {
      height: 100%;
    }

    .reset-padl {
      padding: 0 0 0 15px;

      @include breakpoint ($mobile) {
        padding: 0 15px 0 15px;
      }

      @include breakpoint ($tablet) {
        padding: 0 15px 0 15px;
      }

      .bg-overlay::before {
        background-color: rgba($sky-blue, 0.7);
      }
    }

    .reset-padr {
      padding: 0 15px 0 0;

      @include breakpoint ($mobile) {
        padding: 0 15px 0 15px;
      }

      @include breakpoint ($tablet) {
        padding: 0 15px 0 15px;
      }

      .bg-overlay::before {
        background-color: rgba($sick-green, 0.8);
      }
    }

    .card-padd-img {
      margin: 2.5rem 0 0 0;
    }

    .ccb-justify-center {
      display: flex;
      justify-content: center;
      z-index: 1;
    }

    .ccb-par-position {
      padding: 1rem 6.125rem;
      justify-content: center;
      z-index: 1;

      @include breakpoint($mobile) {
        padding: 1rem 1.125rem;
      }

      p {
        font-size: 1.125rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: normal;
        color: $marine-blue;
      }
    }

    .btn-white-ccb {
      background-color: $white;
      border-radius: 0;
      color: $marine-blue;
      font-size: 1.1rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: normal;
      line-height: normal;
      padding: 0.8rem 3rem;
    }

    .btn-marine-ccb {
      background-color: $marine-blue;
      border-radius: 0;
      color: $white;
      font-size: 1.125rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: normal;
      line-height: normal;
      padding: 0.8rem 3rem;
    }

    .ccb-block-btn-left {
      display: flex;
      justify-content: center;
      margin-bottom: 3.875rem;
      z-index: 1;
    }

    .ccb-block-btn-right {
      display: flex;
      justify-content: center;
      margin: 1.875rem 0 3.875rem 0;
    }

    .ccb-pp-download {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 1rem 6.125rem;

      @include breakpoint($mobile) {
        padding: 1rem 1.125rem;
      }

      p {
        font-size: 1.125rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;
        letter-spacing: normal;
        color: $marine-blue;
      }
    }

    .ccb-par-direita {
      margin-top: 15.5rem;

      @include breakpoint($mobile) {
        margin-top: 3rem;
      }
    }
  }
  //Consultores: texto com imagem a esquerda
  .text-com-img-esquerda {
    background-color: $white;
    padding-top: 2.68rem;

    p {
      font-size: 1.125rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: normal;
      color: $greyish-brown;

      ::after {
        margin-bottom: 1rem;
      }
    }

    h2 {
      font-size: 4.375rem;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -1px;
      color: $sky-blue;

      @include breakpoint($mobile) {
        font-size: 3rem;
      }
    }

    .ajuste-bloco-img {
      display: flex;
      align-items: flex-end;

      @include breakpoint($mobile) {
        display: none;
      }
    }

    .tcie-padding {
      padding: 0 0 3rem 3rem;

      @include breakpoint($mobile) {
        padding: 1rem;
      }

      @include breakpoint($tablet) {
        padding: 1rem;
      }
    }
  }
}
