body.template-conteudos-adicionais {
  overflow-x: hidden;

  @include hero-overlay($marine-blue, $marine-blue, $sky-blue);

  .texto-com-imagem-lateral {
    background-color: $white;

    .container-texto {
      padding: 9.35rem 0;

      p {
        color: $greyish-brown;
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.56;
      }

      a {
        margin-top: 1.5rem;
      }
    }

    .img-direita {
      bottom: 0;
      margin-left: -8.5rem;
      margin-top: -9.8rem;
      position: absolute;
    }
  }
}
