//pesquisadores
body.template-pesquisadores {
  @include hero-overlay($marine-blue, $marine-blue, $sky-blue);

  .conteudo-imagem {
    background-color: $white;
    display: flex;
    padding: 4rem 0 4rem 0;

    p {
      color: $greyish-brown;
      font-size: 1.2rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 1.34;
    }

    .img-oque-e {
      margin: 7.5rem 0 0 0;

      @include breakpoint($mobile-e-tablet) {
        margin: 0;
      }
    }

    .descricao-inicial {
      font-size: 2rem;
      margin-bottom: 3.5rem;
    }

    .descricao-up-img {
      color: $marine-blue;
      font-size: 3.25rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 900;
      letter-spacing: -0.7px;
      line-height: 1.19;
      margin: -0.5rem 0 0 -15rem;

      @include breakpoint($mobile-e-tablet) {
        font-size: 2.25rem;
        margin: 0 0 1rem 0;
      }
    }

    .bloco-lateral-pesq {
      margin: -14.5rem 0 0 34rem;
      position: relative;
      width: 100%;

      @include breakpoint($desktop-ultrawide) {
        margin-left: 38rem;
      }

      @include breakpoint(992px 1080px) {
        margin-top: -16rem;
        max-width: 25.6rem;
      }

      @include breakpoint($mobile-e-tablet) {
        margin: 2rem 0 0 0;
      }
    }

    .pesq-order-one {
      @include breakpoint($mobile-e-tablet) {
        order: 1;
      }
    }

    .pesq-order-two {
      @include breakpoint($mobile-e-tablet) {
        order: 2;
      }
    }

    .pesq-order-three {
      @include breakpoint($mobile-e-tablet) {
        order: 3;
      }
    }
  }
  // Lista de pesquisadores
  .lista-pesquisadores {
    background-color: $white;
    margin-bottom: 1.75rem;

    @include breakpoint($desktop) {
      @include big-container;
    }

    .block-pad-pesq {
      margin-bottom: 2rem;

      h4 {
        color: $marine-blue;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.31;
      }

      p {
        color: $greyish-brown;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.56;
      }

      @include breakpoint($small-mobile) {
        .text-container {
          order: 1;
        }

        .img-container {
          margin-bottom: 1rem;
          order: 0;
          text-align: center;
        }
      }
    }
  }
}
