section.template-error {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 13rem 0 10rem 0;
  text-align: center;

  h1 {
    color: $marine-blue;
    font-size: 4.375rem;
    font-weight: bolder;
    letter-spacing: -1px;

    @include breakpoint($mobile-e-tablet) {
      font-size: 2.375rem;
    }
  }

  p {
    color: $marine-blue;
    font-size: 3.375rem;
    font-weight: 900;
    letter-spacing: -1px;

    @include breakpoint($mobile-e-tablet) {
      font-size: 1.375rem;
    }
  }

  a {
    color: $marine-blue;
    font-size: 2rem;
  }
}
