body.template-conteudos {
  @include hero-overlay($marine-blue, $marine-blue, $sky-blue);

  section.areas {
    margin-top: -1.5rem;

    @include breakpoint($mobile) {
      margin-top: -3.5rem;
    }

    @include breakpoint($tablet) {
      margin-top: -4.5rem;
    }
  }

  section.texto-com-imagem-lateral {
    background-color: $white;
    overflow: hidden;
    padding-top: 2rem;

    h2 {
      color: $reddish-pink;
      font-size: 4rem;
      font-weight: 900;
      max-width: 32rem;
      margin-bottom: 1.7rem;
    }

    p {
      color: $greyish-brown;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.83;
      margin-bottom: 2rem;
      max-width: 100%;
    }

    img {
      margin-top: -2rem;
    }
  }
}
