body.front-page-data {
  overflow-x: hidden;

  .o-ivca-short {
    background-color: #fff;
    display: block;
    padding-top: 5rem;
    position: relative;

    .container {
      position: relative;

      .o-ivca-short-wrapper {
        background-color: $sick-green;
        margin-left: -7.5rem;
        margin-top: -9.3rem;
        padding: 4.4rem 5.5rem 2rem 7.5rem;
        margin-bottom: 2rem;

        @include breakpoint($tablet) {
          padding: 4.4rem 2.75rem 2rem 3.75rem;
        }

        @include breakpoint($mobile) {
          margin-left: 0;
          padding: 4.4rem 2rem 2rem 2rem;
        }

        h2 {
          @include title_with_underline($reddish-pink);

          font-size: 2rem;
          font-weight: 900;
          margin-bottom: 2.5rem;
        }

        p {
          color: rgb(0, 51, 102);
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 1.83;
          margin-bottom: 2.5rem;

          &:last-child {
            font-weight: bold;
          }
        }

        a {
          @include btn_saiba_mais($reddish-pink);
        }
      }

      .pesquisadores-wrapper {
        @include breakpoint($mobile-e-tablet) {
          margin-bottom: 3rem;
        }

        h2 {
          color: $marine-blue;
          display: flex;
          font-weight: 900;
          margin-bottom: 1rem;

          span {
            margin-right: 1.25rem;
            margin-top: -0.5rem;

            @include square(3.125rem, $marine-blue);
          }
        }

        a {
          margin-bottom: 2rem;

          @include btn_saiba_mais($marine-blue);
        }

        img.img-direita {
          position: absolute;
          top: -17rem;
          left: 9.5rem;
          z-index: 1;
        }
      }
    }
  }

  .agende-visita {
    z-index: 2;
    padding-bottom: 3.25rem;
    position: relative;

    h2.title,
    h3 {
      font-weight: 900;
    }

    h2.title {
      font-size: 4.35rem;
      max-width: 28rem;

      @include title_with_overline($marine-blue);

      @include breakpoint($mobile) {
        font-size: 3rem;
        text-align: center;
      }
    }

    h3 {
      margin-top: 7.3rem;
      color: $marine-blue;
      font-size: 2.8rem;
    }

    form {
      margin-top: 2rem;

      @include breakpoint($tablet-e-desktop) {
        .col-md-7,
        .col-md-2 {
          padding-right: 0;
        }
      }
    }
  }

  .agende-visita,
  .vamos-conversar {
    form {
      input:not(.btn),
      textarea {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        padding: 1.85rem 1.05rem;

        @include border-radius(1rem);

        @include input-placeholder {
          color: $grey;
        }
      }
    }
  }

  .vamos-conversar {
    padding: 5rem 0;

    h2 {
      color: $reddish-pink;
      font-size: 4.3rem;
      font-weight: 900;
      margin-bottom: 1.5rem;
      position: relative;

      @include breakpoint($mobile) {
        font-size: 3rem;
      }

      div {
        position: absolute;
        left: -8rem;
        top: 0.5rem;

        @include square(6rem, $reddish-pink);
      }

      span {
        display: block;
        font-size: 2rem;
        font-weight: normal;

        @include breakpoint($mobile) {
          font-size: 1.5rem;
        }
      }
    }

    form {
      @include breakpoint($tablet-e-desktop) {
        .col-md-5 {
          padding-left: 0;
        }
      }

      .btn {
        margin-top: 2rem;
      }
    }
  }
}

.escritorios {
  margin-left: 2rem;
  margin-top: 3.5rem;
  max-height: 22rem;
  overflow: auto;

  .escritorio {
    color: $marine-blue;
    line-height: 1.33;
    margin-bottom: 1.5rem;

    .nome {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .contato {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
}

.escritorio-adjustment_omdv {
  margin-left: 1rem;

  @include breakpoint($mobile) {
    margin: 2rem 0 0 1rem;
  }
}
