.btn.btn-pink {
  background-color: $reddish-pink;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 0.8rem 3rem;

  @include border-radius(0);
}

.bg-full {
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-overlay::before {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#video-modal {
  // START MODAL
  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }

  .modal-body {
    background-color: #000;
    padding: 0;
    position: relative;
  }

  .close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }
  // END MODAL
}
