@mixin title_with_underline($color) {
  color: $color;
  padding-bottom: 1.8rem;
  position: relative;

  &::after {
    content: "";
    width: 13.75rem;
    height: 0.75rem;
    background-color: $color;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@mixin title_with_overline($color) {
  color: $color;
  padding-top: 5.3rem;
  position: relative;

  &::after {
    content: "";
    width: 32.5rem;
    height: 3rem;
    background-color: $color;
    position: absolute;
    top: 0;
    left: 0;
  }

  @include breakpoint($mobile) {
    &::after {
      width: 100%;
    }
  }
}

@mixin btn_saiba_mais($color) {
  color: $color;
  font-size: 1.1rem;

  &:link {
    text-decoration: none;
  }

  img {
    margin-left: 0.5rem;
    margin-top: -0.3rem;
  }
}

@mixin square($size, $color) {
  background-color: $color;
  height: $size;
  width: $size;
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin background-size($size) {
  -moz-background-size: $size !important;
  -o-background-size: $size !important;
  -webkit-background-size: $size !important;
  background-size: $size !important;
}

@mixin big-container {
  .container {
    max-width: 90rem;
  }
}

// HERO
%ajustes-hero {
  section.hero {
    padding-bottom: 2.5rem;

    @include background-size(cover);

    h1 {
      margin-bottom: 2.3rem;
    }
  }
}

@mixin hero-overlay($submenu_color, $title_color, $overlay_color) {
  @extend %ajustes-hero;

  header:not(.active) .navbar #menu-principal .navbar-nav .menu-item .dropdown-menu > .menu-item .dropdown-item {
    color: $submenu_color;
  }

  section.hero {
    h1 {
      @include title_with_underline($title_color);
    }

    &.bg-overlay::before {
      background-color: rgba($overlay_color, 0.8);
    }
  }
}
