/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
  primary: #525ddc
);

// Colors
$azure: rgb(26, 180, 232);
$brownish-orange: #daa520;
$dark-blue-grey: rgb(14, 21, 42);
$dark-sky-blue: rgb(41, 149, 235);
$dark-slate-blue: rgb(46, 38, 115);
$dull-orange: #cd7f32;
$green-yellow: rgb(175, 202, 11);
$grey: rgb(213, 213, 213);
$greyish-brown: rgb(74, 74, 74);
$marine-blue: rgb(0, 51, 102);
$mid-blue:rgb(28, 101, 160);
$pale-blue: rgb(220, 242, 253);
$pinkish-grey: #c0c0c0;
$reddish-pink: rgb(255, 51, 102);
$scarlet: rgb(208, 2, 27);
$sick-green: rgb(153, 204, 51);
$sky-blue: rgb(102, 204, 255);
$warm-grey: rgb(155, 155, 155);
$white: rgb(255, 255, 255);
$black-shadow: rgba(0, 0, 0, 0.5);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$font-family-base: "carnas", Helvetica, Arial, Verdana, Tahoma, sans-serif;

$fa-font-path: "../fonts/font-awesome";

// Sizes devices
$mobile: 0 767px; // xs e sm
$tablet: 768px 991px; // md
$desktop: 992px; // lg e xl

$desktop-ultrawide: 1200px; //xl
$small-mobile: 0 575px; // xs

$mobile-e-tablet: 0 991px; // xs, sm e md
$tablet-e-desktop: 768px; // md, lg e xl

$big-container: 90rem; //1440px
